@font-face {
    font-family: "Roleway-Bold";
    src: url(../font/Roleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Roleway-Regular";
    src: url(../font/Roleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../font/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-LightItalic";
    src: url(../font/Poppins/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: "Tinos-Bold";
    src: url(../font/Tinos/Tinos-Bold.ttf);
}



.container{
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 52px 13px;
    .header-menu{
        ul{
            display: flex;
            gap: 45px;
            li{
                list-style-type: none;
                span{
                    font-family: "Poppins-Regular";
                    font-size: 0.875rem;
                    color: #311F09;
                    &:hover{
                        color: #FF8A00;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
            }
        }
    }
    .leftGroup{
        display: flex;
        gap: 30px;
        align-items: center;
        .cart{
            background-color: #FAFAF9;
            border-radius: 100%;
            min-width: 40px;
            min-height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .4s ease;
            svg{
                size: 24px;
                fill: transparent;
                
                path{
                    stroke: #311F09;
                }
                circle{
                    stroke: #311F09;
                }
            }
            &:hover{
                transition: all .4s ease;
                cursor: pointer;
                background-color: #3FA72F;
                box-shadow: 0px 0px 15px #3FA72F;
                svg{
                    size: 24px;
                    fill: transparent;
                    
                    path{
                        stroke: #fff;
                    }
                    circle{
                        stroke: #fff;
                    }
                }
            }
        }
        .logInbtnHome{
            span{
                padding: 15px 36px;
                border-radius: 133px;
                background-color: #3FA72F;
                font-family: "Poppins-SemiBold";
                color: #fff;
                font-size: 0.875rem;
                &:hover{
                    cursor: pointer;
                    transition: all .4s ease;
                    box-shadow: 0px 0px 15px #3FA72F;
                }
            }
        }
    }
}

.baner{
    display: flex;

    padding-top: 112px;
    .groupText{
        width: 50%;
        .stiker{
            padding-bottom: 40px;
            
            span{
                color: #FF8A00;
                background-color: #FFE8CC;
                padding: 10px 34px;
                border-radius: 126px;
                font-family: "Roleway-Regular";
                font-size: 1.125rem;
            }
        }
        .title{
            padding-left: 13px;
            span{
                display: block;
                color: #311F09;
                font-size: 5rem;
                line-height: 110%;
                font-family: "Roleway-Bold";
                width: 25%;
            }
        }
        .desc{
            width: 93%;
            padding-top: 40px;
            color: #5C4529;
            font-size: 1.25rem;
            font-family: "Poppins-Regular";
        }
        .groupBtn{
            padding-top: 80px;
            display: flex;
            gap: 24px;
            .btnOrder{
                font-size: 1.25rem;
                color: #fff;
                padding: 17px 67px;
                background-color: #FF8A00;
                border-radius: 162px;
                font-family: "Poppins-SemiBold";
                transition: all .4s ease;
                &:hover{
                    cursor: pointer;
                    transition: all .4s ease;
                    box-shadow: 0px 0px 15px #c46800;
                }
            }
            .btnReserv{
                border-radius: 162px;
                font-size: 1.25rem;
                color: #fff;
                padding: 17px 67px;
                background-color: #3FA72F;
                font-family: "Poppins-SemiBold";
                transition: all .4s ease;
                &:hover{
                    cursor: pointer;
                    transition: all .4s ease;
                    box-shadow: 0px 0px 15px #3FA72F;
                }
            }
        }
    }
    .imgBanner{
        width: 50%;
        img{
            width: 121%;
        }
    }
}

.menu{
    padding: 188px 0;
    background-color: #ECF9F0;
    .group{
        display: flex;
        align-items: center;
        justify-content: space-between;
        .imageMenu{
            width: 50%;
            img{
                width: 121%;
            }
        }
        .groupText{
            width: 42%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            .title{
                color: #311F09;
                font-size: 5rem;
                font-family: "Tinos-Bold";
                margin-top: -20px;
                .orange{
                    color: #FF8A00;
                }
            }
            .desc{
                display: block;
                padding: 60px 0 0 0;
                color: #5C4529;
                font-size: 1.25rem;
                font-family:"Poppins-Regular";
                width: 89%;
            }
            .btn{
                padding: 17px 45px;
                color: #fff;
                background-color: #FF8A00;
                font-family: "Poppins-SemiBold";
                font-size: 1.25rem;
                display: flex;
                width: max-content;
                border-radius: 162px;
                margin-top: 82px;
            }
        }
    }
}

.menuCatalog{
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        color: #311F09;
        padding-bottom: 60px;
        font-size: 5rem;
        display: flex;
        justify-content: center;
        font-family: "Tinos-Bold";
        padding-top: 164px;
    }
    .catagory{ 
        display: flex;
        gap: 36px;
        justify-content: center;
        span{
            font-family: "Poppins-SemiBold";
            font-size: 1.25rem;
            color: #311F09;
            padding: 17px 54px;
            background-color: #FAFAF9;
            border-radius: 126px;
        }
    }
    .menuCatalog{
        padding-top: 60px;
        display: flex;
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
        max-width: 1125px;
        flex-direction: row;
        .item{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding: 37px 29px;
            background-color: #FAFAF9;
            max-width: 270px;
            border-radius: 70px;
            .imagge{
                padding-bottom: 24px;
                img{
                    border-radius: 100%;
                }
            }
            .title{
                padding-top: 0;
                color: #311F09;
                font-size: 1.875rem;
                font-family: "Tinos-Bold";
                padding-bottom: 10px;
            }
            .stars{
                display: flex;
                gap: 10px;
                padding-bottom: 15px;
            }
            .desc{
                font-family: "Poppins-Regular";
                color: #59442B;
                font-size: 0.875rem;
                text-align: center;
                width: 109%;
                padding-bottom: 30px;
            }
            .priceOrder{
                display: flex;
                align-items: center;
                gap: 34px;
                .price{
                    font-family: "Poppins-SemiBold";
                    font-size: 1.5625rem;
                    color: #311F09;
                }
                .btnOrder{
                    font-family: "Poppins-SemiBold";
                    font-size: 1rem;
                    padding: 14px 36px;
                    color: #fff;
                    background-color: #FF8A00;
                    border-radius: 162px;
                }
            }
        }
    }
    .next{
        justify-content: center;
        padding-top: 88px;
        display: flex;
        gap: 30px;
        .itemPrev,
        .itemNext{
            background-color: #311F09;
            min-width: 55px;
            min-height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            transition: all .4s ease;
            &:hover{
                box-shadow: 0px 0px 15px #311F09;
                cursor: pointer;
                transition: all .4s ease;
            }
        }
        .numbers{
            font-family: "Poppins-SemiBold";
            background-color: #FFF3E6;
            min-width: 55px;
            min-height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 15px;
            color: #FF8A00;
            transition: all .4s ease;
            &:hover{
                box-shadow: 0px 0px 15px #FF8A00;
                cursor: pointer;
                transition: all .4s ease;
            }
        }
        .tRy{
            min-width: 55px;
            min-height: 55px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
        }
        padding-bottom: 211px;
    }
}

.reserve{
    background-color: #FFFBF5;
    display: flex;
    align-items: center;
    gap: 43px;
    padding: 84px 0;
    .imaggge{
        width: 55%;
        img{
            width: 100%;
        }
    }
    .groupText{
        width: 45%;
        display: flex;
        flex-direction: column;
        align-items: start;
        .title{
            font-size: 5rem;
            font-family: "Tinos-Bold";
            color: #311F09;
            .orange{
                color: #FF8A00;
            }
            padding-bottom: 50px;
        }
        .desc{
            font-size: 1.25rem;
            color: #5C4529;
            line-height: 200%;
            font-family: "Poppins-Regular";
            padding-bottom: 135px;
        }
        .btnReserve{
            font-family: "Poppins-SemiBold";
            color: #fff;
            font-size: 1.25rem;
            padding: 17px 55px;
            background-color: #FF8A00;
            display: flex;
            border-radius: 162px;
        }
    }
}

.chef{
    display: flex;
    flex-direction: column;
    align-items: center;
    .title{
        color: #311F09;
        padding-bottom: 60px;
        font-size: 5rem;
        display: flex;
        justify-content: center;
        padding-top: 175px;
        font-family: "Tinos-Bold";
    }

    .groupChef{
        display: flex;
        gap: 40px;
        .item{
            max-width: 344px;
            display: flex;
            align-items: center;
            flex-direction: column;
            .img{
                background-color: #D1D0D2;
                border-radius: 50px;
                margin-bottom: 40px;
                overflow: hidden;
                
                img{
                    width: 100%;
                    position: relative;
                    bottom: -5px;
                }
                
            }
            &:nth-child(2){
                .img{
                background-color: #FFE8CC;
                }
            }
            &:nth-child(3){
                .img{
                background-color: #EBE0D9;
                }
            }
            .name{
                color: #311F09;
                font-family: "Poppins-SemiBold";
                font-size: 1.5625rem;
                padding: 0 0 30px 0;
            }
            .work{
                color: #A08D76;
                font-family: "Poppins-Regular";
                font-size: 1.5625rem;
            }
        }
    }
    .btnView{
        background-color: #FF8A00;
        color: #fff;
        font-size: 1.25rem;
        border-radius: 162px;
        padding: 17px 78px;
        font-family: "Poppins-SemiBold";
        margin: 150px 0px 271px 0;
    }
}

.customers{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../img/png/Group\63.png);
    overflow: hidden;
    padding: 130px 0;
    .title{
        color: #311F09;
        font-family: "Tinos-Bold";
        font-size: 5rem;
        display: flex;
        justify-content: center;
        padding-bottom: 60px
    }
    .person{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .img{
            width: max-content;
            img{
                width: 100%;
            }
        }
        .name{
            font-family: "Poppins-SemiBold";
            font-size: 1.875rem;
            color: #311F09;
            padding-top: 30px;
        }
        .work{
            color: #5C4529;
            font-size: 1.25rem;
            font-family: "Poppins-Regular";

        }
    }
    .desc{
        color: #5C4529;
        font-size: 1.25rem;
        font-family: "Poppins-Regular";
        text-align: center;
        padding-top: 90px;
        width: 49%;
        display: flex;
        justify-content: center;
        position: relative;
        &::after{
            content: " ";
            position: absolute;
            background-image: url(../img/svg/“.svg);
            width: 34px;
            height: 25px;
            background-repeat: no-repeat;
            top: 15%;
            left: -5%;
            transform: translate(-50%, 50%);
        }
        &::before{
            content: " ";
            position: absolute;
            background-image: url(../img/svg/“.svg);
            width: 34px;
            height: 25px;
            background-repeat: no-repeat;
            bottom: -25%;
            right: -10%;
            transform: translate(50%, 50%);
            rotate: 180deg;
        }
    }
    .swiper {
        width: 100%;
        max-width: 800px;
        height: 300px;
        overflow: visible;
        padding-top: 100px;
      }
    
    .swiper-wrapper {
        display: flex;
        align-items: center;
    }

    .swiper-slide {
        height: unset;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: width 0.4s ease, opacity 0.4s ease;
        width: 100px; /* Базовая ширина */
        border-radius: 100%;
        &.active{
            border: 10px solid #FFF3E6;
            padding: 10px;
            background-color: #FFC98A;
        }
    }

    .swiper-slide img {
        width: 100%;
        object-fit: contain;
        border-radius: 10px;
    }
}

.workTime{
    padding: 238px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    .block{
        position: relative;
        max-width: 1150px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .imageg{
            position: absolute;
            z-index: -1;
            width: 100%;
            img{
                width: 100%;
            }
        }
        .title{
            font-size: 5rem;
            font-family: "Tinos-Bold";
            color: #fff;
        }
        .theme{
            font-size: 2.5rem;
            font-family: "Poppins-SemiBold";
            color: #fff;
        }
        .groupTime{
            display: flex;
            flex-direction: column;
            span{
                font-family: "Poppins-Regular";
                font-size: 1.25rem;
                color: #fff;
                text-align: end;
                line-height: 200%;
            }
        }
        .groupBtn{
            padding-top: 20px;
            display: flex;
            gap: 23px;
            span{
                font-family: "Poppins-SemiBold";
                font-size: 1.25rem;
                padding: 17px 62px;
                border-radius: 162px;
            }
            .order{
                background-color: #FF8A00;
                color: #fff;
                transition: all .4s ease;
                &:hover{
                    box-shadow: 0px 0px 15px #FF8A00;
                    cursor: pointer;
                    transition: all .4s ease;
                }
            }
            .reserve{
                background-color: #FFF;
                color: #311F09;
                &:hover{
                    box-shadow: 0px 0px 15px #fff;
                    cursor: pointer;
                    transition: all .4s ease;
                }
            }
        }
    }
}

.footer{
    background-color: #311F09;
    .together{
        padding: 140px 0 93px 0;
        display: flex;
        .firstGroup{
            padding: 0 164px;
            .desc{
                font-family: "Poppins-Regular";
                font-size: 1.25rem;
                color: #fff;
                max-width: 352px;
                padding-top: 45px;
                padding-bottom: 40px;
            }
            .social{
                display: flex;
                gap: 30px;
                .twitter{
                    min-width: 60px;
                    min-height: 60px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                }
                .inst{
                    min-width: 60px;
                    min-height: 60px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                }
                .Fakebo{
                    min-width: 60px;
                    min-height: 60px;
                    border-radius: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background-color: #fff;
                }
            }
        }
        .SecondGroup{
            display: flex;
            gap: 70px;
            .groupText{
                display: flex;
                flex-direction: column;
                gap: 25px;
                .title{
                    line-height: 200%;
                    color: #FF8A00;
                    font-family: "Poppins-SemiBold";
                    font-size: 1.5625rem;
                }
                .group{
                    display: flex;
                    flex-direction: column;
                    gap: 15px;
                    span{
                        font-family: "Poppins-Regular";
                        color: #E3E2E0;
                        font-size: 1.25rem
                    }
                }
            }
        }
    }
    .TherdGroup{
        display: flex;
        justify-content: center;
        gap: 5px;
        padding-bottom: 74px;
        span{
            font-family: "Poppins-Regular";
            color: #E3E2E0;
            font-size: 1.25rem;
        }
    }
}