@font-face {
    font-family: "Roleway-Bold";
    src: url(../font/Roleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Roleway-Regular";
    src: url(../font/Roleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../font/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-LightItalic";
    src: url(../font/Poppins/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: "Tinos-Bold";
    src: url(../font/Tinos/Tinos-Bold.ttf);
}

.header{
    .logInbtnHome{
        display: flex;
        gap: 20px;
        span:nth-child(2){
            background-color: #FF8A00;
            &:hover{
                cursor: pointer;
                transition: all .4s ease;
                box-shadow: 0px 0px 15px #c46800;
            }
        }
    }
}

.imagge{
    position: relative;
    /* &::after{
        position: absolute;
        content: " ";
        height: 829px;
        width: 634px;
        background-color: #fbfafa;
        left: -22%;
        transform: translateX(-49%);

    }
    &::before{
        position: absolute;
        content: " ";
        height: 667px;
        width: 634px;
        background-color: #f2f1f0;
        left: -22%;
        top: 81px;
        z-index: 1;
        transform: translateX(-49%);

    } */
}

.onlyOne{
    .block{
        display: flex;
        padding-bottom: 201px;
        .imagee{
            width: 50%;
            img{
                width: 100%;
            }
        }

        .Second{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 50%;
            .title{
                font-family: "Tinos-Bold";
                font-size: 5rem;
                line-height: 110%;
                text-wrap: nowrap;
                padding-bottom: 50px;
            }
            form{
                display: flex;
                flex-direction: column;
                gap: 20px;
                input{
                    max-width: 475px;
                    padding: 39px 50px;
                    background-color: #FAFAF9;
                    outline: none;
                    border: none;
                    border-radius: 20px;
                    &::placeholder{
                        color: #A0978C;
                        font-family: "Poppins-Regular";
                        font-size: 1.25rem;
                    }
                }
                #bookButton{
                    display: ;
                    padding: 36px 176px;
                    background-color: #FF8A00;
                    outline: none;
                    border: none;
                    border-radius: 20px;
                    font-family: "Poppins-SemiBold";
                    color: #fff;
                    &:hover{
                        background-color: #FF8A00;
                        box-shadow: 0px 0px 15px #FF8A00;
                    }
                }
            }
        }
    }
}

.active{
    display: flex !important;
}


.modalFirstResv{
    display: none;
    .group{
        .closed{
            min-width: 80px;
            min-height: 80px;
            background-color: #fff;
            display: flex;
            left: 50%;
            align-items: center;
            transform: translateX(-50%);
            justify-content: center;
            position: absolute;
            top: -110px;
            border-radius: 50px;
            transition: all .4s ease;
            svg{
                path{
                    stroke: #000;
                }
            }
            &:hover{
                box-shadow: 0px 0px 15px #fff;
                transition: all .4s ease;
                cursor: pointer;
                svg{
                    path{
                        stroke: #ff0000;
                    }
                }
            }
        }
        max-width: 1112px;
        background-color: #FFFFFF;
        position: absolute;
        top: -80%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 2;
        padding: 60px 60px;
        width: 100%;
        .head{
            display: flex;
            justify-content: space-between;
            .groupBtn{
                display: flex;
                gap: 15px;
                .span:nth-child(1){
                    padding: 14px 32px;
                    background-color: #FF8A00;
                    border-radius: 133px;
                    color: #fff;
                    font-family: 'Poppins-SemiBold';
                    font-size: 0.875rem;
                    transition: all .4s ease;
                    &:hover{
                        box-shadow: 0px 0px 15px #FF8A00;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
                .span:nth-child(2){
                    padding: 14px 32px;
                    background-color: #3FA72F;
                    border-radius: 133px;
                    color: #fff;
                    font-family: 'Poppins-SemiBold';
                    font-size: 0.875rem;
                    transition: all .4s ease;
                    &:hover{
                        box-shadow: 0px 0px 15px #3FA72F;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
            }
        }
        .detail{
            display: flex;
            flex-direction: column;
            align-items: center;
            .imagge{
                max-width: 460px;
                padding-top: 15px;
                img{
                    width: 100%;
                }
            }

            .title{
                padding-top: 30px;
                font-size: 1.5625rem;
                font-family: 'Poppins-SemiBold';
                color: #311F09;
            }
            .groupDetail{
                padding-top: 50px;
                display: flex;
                gap: 52px;
                .item{
                    display: flex;
                    align-items: center;
                    gap: 23px;
                    span{
                        color: #5C4529;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                }
            }
        }

        .info{
            margin-top: 34px;
            padding: 50px 133px;
            border-radius: 20px;
            background-color: #D0F7FF;
            .span{
                color: #5C4529;
                font-size: 1.25rem;
                font-family: "Poppins-Regular";
                span:nth-child(1){
                    font-family: 'Poppins-SemiBold';
                    color: #311F09;
                }
            }
        }
    }
    &::after{
        content: " ";
        background-color: #311F09;
        opacity: 80%;
        position: absolute;
        width: 200%;
        height: 200%;
        top: 0;
        bottom: 0;
        left: -470px;
        z-index: 1;
    }
}

.dataOrder{
    padding-top: 60px;
    .title{
        padding-left: 14px;
        padding-bottom: 30px;
        font-family: 'Poppins-SemiBold';
        color: #000;
        font-size: 1.625rem;
    }
    form{
        display: flex;
        gap: 34px;
        width: 100%;
        .first{
            position: relative;
            input:nth-child(3){
                padding-left: 229px;
            }
            .country{
                position: absolute;
                top: 150px;
                left: 15px;
                background-color: #fff;
                border-radius: 10px;
                &::after{
                    content: " ";
                    background-image: url(../img/svg/arrowCountry.svg);
                    background-repeat: no-repeat;
                    width: 23px;
                    height: 15px;
                    position: absolute;
                    top: 50%;
                    transform: translate(50%, -50%);
                    right: 30px;
                    cursor: pointer;
                }
                .imgCountry{
                    padding: 11px 61px 11px 43px;
                }
            }
        }
        .first,
        .second{
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 50%;
            input{
                padding: 39px 40px;
                max-width: 479px;
                width: 100%;        
                background-color: #FAFAF9;
                color: #A0978C;
                font-family: "Poppins-Regular";
                border-radius: 20px;
                outline: none;
            }
        }
    }
}

.activeAbove{
    background-image: url(../img/svg/Ellipse\ 85.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 31px;
    transition: all .4s ease;

}
.agreements{
    display: flex;
    gap: 40px;
    padding-top: 60px;
    align-items: center;
    .groupAgree{
        display: flex;
        flex-direction: column;
        width: 50%;
        gap: 30px;
        .item{
            display: flex;
            align-items: center;
            gap: 20px;
            
            input {
                outline: none;
                border: 1px solid #311F09;
                min-width: 44px;
                min-height: 44px;
                border-radius: 100px;
                -webkit-appearance: none;
                outline: none;
                cursor: pointer;
                .stateAbove,
                .newsAbove,
                .newsRes{
                    position: relative;
                    transition: all .4s ease;

                }
            }
            span{
               color: #5C4529;
               font-family: "Poppins-Regular";
               font-size: 1.25rem;
               
            }
        }
        .confirmBtn{
            font-family: "Poppins-Regular";
            color: #FFFFFF;
            font-size: 1.5625rem;
            padding: 36px 115px;
            background-color: #FF8A00;
            border-radius: 20px;
            line-height: 110%;
            display: flex;
            text-wrap: nowrap;
            margin-top: 40px;
        }
    }

    .infoRest{
        display: flex;
        flex-direction: column;
        width: 50%;
        .title{
            font-size: 1.5625rem;
            color: #000;
            font-family: "Poppins-SemiBold";
            padding-bottom: 40px;
        }
        span{
            font-size: 1.25rem;
            color: #5C4529;
            font-family: "Poppins-Regular";
            &:nth-child(2){
                display: block;
                padding-bottom: 23px;
            }
        }
    }
}

.modalSecondResv{
    display: none;
    &::after{
        content: " ";
        background-color: #311F09;
        opacity: 80%;
        position: absolute;
        width: 200%;
        height: 200%;
        top: 0;
        bottom: 0;
        left: -470px;
        z-index: 1;
    }
    .group{
        max-width: 1112px;
        background-color: #FFFFFF;
        position: absolute;
        top: -60%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 2;
        padding: 60px 0;
        width: 100%;
        .closedSec{
            min-width: 80px;
            min-height: 80px;
            background-color: #fff;
            display: flex;
            left: 50%;
            align-items: center;
            transform: translateX(-50%);
            justify-content: center;
            position: absolute;
            top: -110px;
            border-radius: 50px;
            transition: all .4s ease;
            svg{
                path{
                    stroke: #000;
                }
            }
            &:hover{
                box-shadow: 0px 0px 15px #fff;
                transition: all .4s ease;
                cursor: pointer;
                svg{
                    path{
                        stroke: #ff0000;
                    }
                }
            }
        }
        .head{
            display: flex;
            justify-content: space-between;
            padding: 0 60px;
            .groupBtn{
                display: flex;
                gap: 15px;
                .span:nth-child(1){
                    padding: 14px 32px;
                    background-color: #FF8A00;
                    border-radius: 133px;
                    color: #fff;
                    font-family: 'Poppins-SemiBold';
                    font-size: 0.875rem;
                    transition: all .4s ease;
                    &:hover{
                        box-shadow: 0px 0px 15px #FF8A00;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
                .span:nth-child(2){
                    padding: 14px 32px;
                    background-color: #3FA72F;
                    border-radius: 133px;
                    color: #fff;
                    font-family: 'Poppins-SemiBold';
                    font-size: 0.875rem;
                    transition: all .4s ease;
                    &:hover{
                        box-shadow: 0px 0px 15px #3FA72F;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
            }
        }
        .detail{
            display: flex;
            flex-direction: column;
            padding-top: 94px;
            position: relative;
            .imagge{
                position: absolute;
                max-width: 1112px;
                padding-top: 15px;
                z-index: -1;
                top: 80px;
                img{
                    width: 100%;
                }
            }

            .title{
                font-size: 2.5rem;
                font-family: 'Poppins-SemiBold';
                color: #ffffff;
                padding: 34px 60px 0px 60px;
            }
            .groupDetail{
                padding: 28px 60px 34px 60px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                .item{
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    span{
                        color: #ffffff;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                }
            }
        }

        .detailRrsv{
            display: flex;
            padding: 60px 60px 60px 0px;
            align-items: center;
            justify-content: space-between;
            .imgg{
                max-width: 330px;
                padding-right: 34px;
                img{
                    width: 100%;
                }
            }
            .gruoudesc{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .title{
                   color: #311F09;
                   font-family: 'Poppins-SemiBold';
                   font-size: 1.5625rem;
                   padding-bottom: 10px;
                }
                .item{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    span{
                        color: #5C4529;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                }
            }
            .btnSetting{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .modify{
                    display: flex;
                    gap: 25px;
                    align-items: center;
                    padding: 29px 60px;
                    background-color: #CCE3FF;
                    border-radius: 20px;
                    transition: all .4s ease;
                    span{
                        color: #123968;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                    &:hover{
                        box-shadow: 0px 0px 15px #69adff;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
                .close{
                    display: flex;
                    gap: 25px;
                    align-items: center;
                    padding: 29px 60px;
                    background-color: #FFE6E6;
                    border-radius: 20px;
                    transition: all .4s ease;
                    span{
                        color: #EA1010;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                    &:hover{
                        box-shadow: 0px 0px 15px #ff7777;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
            }
        }
        .infoRest{
            padding: 0px 60px;
            display: flex;
            gap: 34px;
            align-items: center;
            .groupInpu{
                display: flex;
                gap: 37px;
                flex-direction: column;
                width: 50%;   
                .accasion{
                    position: relative;
                    padding: 39px 50px;
                    border-radius: 20px;
                    background-color: #FBFAFA;
                    height: unset;
                    span{
                        color: #A0978C;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                }
                .specialRequest{
                    padding: 39px 50px;
                    height: 359px;
                    border-radius: 20px;
                    background-color: #FBFAFA;
                    color: #A0978C;
                    span{
                        color: #A0978C;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                }                  
            }
            .groupText{
                display: flex;
                flex-direction: column;
                justify-content: start;
                width: 50%;
                .title{
                    color: #000;
                    font-family: 'Poppins-SemiBold';
                    font-size: 1.5625rem;     
                    padding-bottom: 40px; 
                } 
                span{
                   color: #5C4529;
                   font-size: 1.25rem;
                   font-family: "Poppins-Regular";
                   &:nth-child(1){
                    padding-bottom: 20px;
                   }
                }
            }
        }
    }
}

.modalClose{
    display: none;
    &::after{
        content: " ";
        background-color: #311F09;
        opacity: 80%;
        position: absolute;
        width: 200%;
        height: 200%;
        top: 0;
        bottom: 0;
        left: -470px;
        z-index: 1;
    }
    .groupClose{
        max-width: 1112px;
        background-color: #FFFFFF;
        position: absolute;
        top: -35%;
        left: 50%;
        transform: translate(-50%, 50%);
        z-index: 2;
        padding: 60px 0;
        width: 100%;
        .closedClose{
            min-width: 80px;
            min-height: 80px;
            background-color: #fff;
            display: flex;
            left: 50%;
            align-items: center;
            transform: translateX(-50%);
            justify-content: center;
            position: absolute;
            top: -110px;
            border-radius: 50px;
            transition: all .4s ease;
            svg{
                path{
                    stroke: #000;
                }
            }
            &:hover{
                box-shadow: 0px 0px 15px #fff;
                transition: all .4s ease;
                cursor: pointer;
                svg{
                    path{
                        stroke: #ff0000;
                    }
                }
            }
        }
        .head{
            display: flex;
            justify-content: space-between;
            padding: 0 60px;
            .groupBtn{
                display: flex;
                gap: 15px;
                .span:nth-child(1){
                    padding: 14px 32px;
                    background-color: #FF8A00;
                    border-radius: 133px;
                    color: #fff;
                    font-family: 'Poppins-SemiBold';
                    font-size: 0.875rem;
                    transition: all .4s ease;
                    &:hover{
                        box-shadow: 0px 0px 15px #FF8A00;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
                .span:nth-child(2){
                    padding: 14px 32px;
                    background-color: #3FA72F;
                    border-radius: 133px;
                    color: #fff;
                    font-family: 'Poppins-SemiBold';
                    font-size: 0.875rem;
                    transition: all .4s ease;
                    &:hover{
                        box-shadow: 0px 0px 15px #3FA72F;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
            }
        }
        .detail{
            display: flex;
            flex-direction: column;
            padding-top: 94px;
            position: relative;
            .imagge{
                position: absolute;
                max-width: 1112px;
                padding-top: 15px;
                z-index: -1;
                top: 80px;
                img{
                    width: 100%;
                }
            }

            .title{
                font-size: 2.5rem;
                font-family: 'Poppins-SemiBold';
                color: #ffffff;
                padding: 34px 60px 0px 60px;
            }
            .groupDetail{
                padding: 28px 60px 34px 60px;
                display: flex;
                flex-direction: column;
                gap: 12px;
                .item{
                    display: flex;
                    align-items: center;
                    gap: 16px;
                    span{
                        color: #ffffff;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                }
            }
        }
        .detailRrsv{
            display: flex;
            padding: 107px 60px 60px 0px;
            align-items: center;
            gap: 34px;
            .imgg{
                max-width: 330px;
                padding-right: 34px;
                img{
                    width: 100%;
                }
            }
            .gruoudesc{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .title{
                   color: #311F09;
                   font-family: 'Poppins-SemiBold';
                   font-size: 1.5625rem;
                   padding-bottom: 10px;
                }
                .item{
                    display: flex;
                    align-items: center;
                    gap: 20px;
                    span{
                        color: #5C4529;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                }
            }
            .btnSetting{
                display: flex;
                flex-direction: column;
                gap: 20px;
                .modify{
                    display: flex;
                    gap: 25px;
                    align-items: center;
                    padding: 29px 60px;
                    background-color: #CCE3FF;
                    border-radius: 20px;
                    transition: all .4s ease;
                    span{
                        color: #123968;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                    &:hover{
                        box-shadow: 0px 0px 15px #69adff;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
                .close{
                    display: flex;
                    gap: 25px;
                    align-items: center;
                    padding: 29px 60px;
                    background-color: #FFE6E6;
                    border-radius: 20px;
                    transition: all .4s ease;
                    span{
                        color: #EA1010;
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                    }
                    &:hover{
                        box-shadow: 0px 0px 15px #ff7777;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
            }
        }
        .canselend{
            display: flex;
            justify-content: end;
            span{
                background-color: #FF3838;
                font-family: 'Poppins-SemiBold';
                font-size: 1.5625rem;
                color: #fff;
                padding: 36px 108px;
                border-radius: 20px;
                transition: all .4s ease;
                width: max-content;
                margin: 0px 60px;
                &:hover{
                    box-shadow: 0px 0px 15px #ff4848;
                    cursor: pointer;
                    transition: all .4s ease;
                }
            }
        }
    }
}