@font-face {
    font-family: "Roleway-Bold";
    src: url(../font/Roleway/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Roleway-Regular";
    src: url(../font/Roleway/Raleway-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Regular";
    src: url(../font/Poppins/Poppins-Regular.ttf);
}

@font-face {
    font-family: "Poppins-Medium";
    src: url(../font/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins-SemiBold";
    src: url(../font/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
    font-family: "Poppins-LightItalic";
    src: url(../font/Poppins/Poppins-LightItalic.ttf);
}

@font-face {
    font-family: "Tinos-Bold";
    src: url(../font/Tinos/Tinos-Bold.ttf);
}


.dataOrder{
    padding-top: 60px;
    .title{
        padding-bottom: 60px;
        font-size: 1.875rem;
        font-family: "Poppins-Medium";
        color: #000;
        margin: 0px !important;
    }
    form{
        display: flex;
        gap: 34px;
        width: 100%;
        .first{
            position: relative;
            input:nth-child(3){
                padding-left: 229px;
            }
            .country{
                position: absolute;
                top: 150px;
                left: 15px;
                background-color: #fff;
                border-radius: 10px;
                &::after{
                    content: " ";
                    background-image: url(../img/svg/arrowCountry.svg);
                    background-repeat: no-repeat;
                    width: 23px;
                    height: 15px;
                    position: absolute;
                    top: 50%;
                    transform: translate(50%, -50%);
                    right: 30px;
                    cursor: pointer;
                }
                .imgCountry{
                    padding: 11px 61px 11px 43px;
                }
            }
        }
        .first,
        .second{
            display: flex;
            flex-direction: column;
            gap: 32px;
            width: 50%;
            input{
                padding: 39px 40px;
                max-width:704px;
                width: 100%;        
                background-color: #FAFAF9;
                color: #A0978C;
                font-family: "Poppins-Regular";
                border-radius: 20px;
                font-size: 1.25rem;
                outline: none;
            }
        }
    }
}

.checkout{
    display: flex;
    flex-direction: column;
    .title{
        position: relative;
        margin-bottom: 120px;
        .imgPrev{
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            position: absolute;
            display: flex;
            align-items: center;
            justify-content: center;
            min-width: 50px;
            min-height: 50px;
            background-color: #311F09;
            border-radius: 100%;
            cursor: pointer;
            transition: all .4s ease;
            &:hover{
                box-shadow: 0px 0px 15px #ac8a8a;
                background-color: #ac8a8a;
                transition: all .4s ease;
                svg{
                    color: transparent;
                    path{
                        stroke: #000000;
                    }
                }
            }
            svg{
                padding-right: 2px;
                color: transparent;
                path{
                    stroke: #fff;
                }
            }
        }
        span{
            font-family: "Tinos-Bold";
            color: #311F09;
            font-size: 5rem;
            justify-content: center;
            display: flex;
        }
    }
    
    .groupAddress{
        .title{
            font-size: 1.875rem;
            font-family: "Poppins-Medium";
            color: #000;
            padding-bottom: 60px;
            margin: 0px;
        }
        .groupIndex{
            display: flex;
            gap: 32px;
            input{
                background-color: #FBFAFA;
                border-radius: 20px;
                padding: 38px 80px;
                font-family: "Poppins-Regular";
                color: #311F09;
                font-size: 1.25rem;
                max-width: 866px;
                width: 100%;
                outline: none;
                &::placeholder{
                    color: #A0978C;
                    font-size: 1.25rem;
                    font-family: "Poppins-Regular";
                }
            }
            span{
                font-size: 1.25rem;
                font-family: "Poppins-Regular";
                background-color: #749FE0;
                color: #fff;
                border-radius: 20px;
                padding: 38px 80px;
                &:hover{
                    box-shadow: 0px 0px 15px #749FE0;
                    cursor: pointer;
                    transition: all .4s ease;
                }
            }
        }
    }

    .groupOrder{
        .title{
            font-size: 1.875rem;
            font-family: "Poppins-Medium";
            color: #000;
            padding-top: 60px;
            padding-bottom: 60px;
            margin: 0px;
        }

        .groupRadio{
            display: flex;
            gap: 80px;
            .item{
                display: flex;
                align-items: center;
                gap: 20px;
                input{
                    -webkit-appearance: none;
                    outline: none;
                    min-width: 44px;
                    min-height: 44px;
                    border-radius: 100px;
                    border: 1px solid #311F09;
                    cursor: pointer;
                }
                span{
                    color: #311F09;
                    font-size: 1.25rem;
                    font-family: "Poppins-Regular";
                }
                .imgArrow{
                    width: 20px;
                    cursor: pointer;
                }
                
            }
        }
    }

    .groupMethod{
        .title{
            font-size: 1.875rem;
            font-family: "Poppins-Medium";
            color: #000;
            padding-top: 60px;
            padding-bottom: 60px;
            margin: 0px;
        }

        .groupRadio{
            display: flex;
            gap: 80px;
            .item{
                display: flex;
                align-items: center;
                gap: 20px;
                input{
                    -webkit-appearance: none;
                    outline: none;
                    min-width: 44px;
                    min-height: 44px;
                    border-radius: 100px;
                    border: 1px solid #311F09;
                    cursor: pointer;
                }
                span{
                    color: #311F09;
                    font-size: 1.25rem;
                    font-family: "Poppins-Regular";
                }
                .imgArrow{
                    width: 20px;
                    cursor: pointer;
                }
                
            }
        }
    }

    .groupPayment{
        .title{
            font-size: 1.875rem;
            font-family: "Poppins-Medium";
            color: #000;
            padding-top: 60px;
            padding-bottom: 60px;
            margin: 0px;
        }

        .groupRadio{
            display: flex;
            gap: 32px 60px;
            flex-wrap: wrap;
            .item{
                display: flex;
                align-items: center;
                gap: 20px;
                max-width: 540px;
                width: 100%;
                background-color: #FBFAFA;
                border-radius: 20px;
                padding: 28px 55px;
                input{
                    -webkit-appearance: none;
                    outline: none;
                    min-width: 44px;
                    min-height: 44px;
                    border-radius: 100px;
                    border: 1px solid #311F09;
                    cursor: pointer;
                }
                span{
                    color: #311F09;
                    font-size: 1.25rem;
                    font-family: "Poppins-Regular";
                }
            }
        }
    }

    .agree{
        padding-top: 142px;
        display: flex;
        align-items: center;
        gap: 20px;
        input{
            -webkit-appearance: none;
            outline: none;
            border: 1px solid #311F09;
            border-radius: 10px;
            min-width: 44px;
            min-height: 44px;

        }
        span{
            color: #311F09;
            font-size: 1.875rem;
            font-family: "Poppins-Regular";
        }
    }

    .orderBtn{
        display: flex;
        justify-content: center;
        span{
            margin-top: 86px;
            margin-bottom: 178px;
            background-color: #FF8A00;
            color: #fff;
            font-size: 1.875rem;
            font-family: "Poppins-SemiBold";
            padding: 34px 190px;
            border-radius: 20px;
            width: max-content;
            &:hover{
                box-shadow: 0px 0px 15px #FF8A00;
                cursor: pointer;
                transition: all .4s ease;
            }
        }
    }

}

.activeItemRadio{
    background-image: url("../img/svg/Ellipse 85.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    border: 1px solid #3fa72f !important;
}

.activeChoose{
    background-image: url("../img/svg/Rectangle\ 140.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    background-color: #311F09;
}

.activeMap{
    display: flex !important;
}
.modalShippingAddress{
    display: none;
    &::after{
        content: " ";
        background-color: #311F09;
        opacity: 80%;
        position: absolute;
        width: 200%;
        height: 200%;
        top: 0;
        bottom: 0;
        left: -470px;
        z-index: 1;
    }
    .groupShipping{
        max-width: 1112px;
        background-color: #FFFFFF;
        position: absolute;
        top: 186px;
        left: 50%;
        transform: translateX(-50%);
        z-index: 2;
        padding: 60px 0;
        width: 100%;
        .closedModal{
            min-width: 80px;
            min-height: 80px;
            background-color: #fff;
            display: flex;
            left: 50%;
            align-items: center;
            transform: translateX(-50%);
            justify-content: center;
            position: absolute;
            top: -110px;
            border-radius: 50px;
            transition: all .4s ease;
            svg{
                path{
                    stroke: #000;
                }
            }
            &:hover{
                box-shadow: 0px 0px 15px #fff;
                transition: all .4s ease;
                cursor: pointer;
                svg{
                    path{
                        stroke: #ff0000;
                    }
                }
            }
        }
        .head{
            display: flex;
            justify-content: space-between;
            padding: 0 60px;
            .groupBtn{
                display: flex;
                gap: 15px;
                .span:nth-child(1){
                    padding: 14px 32px;
                    background-color: #FF8A00;
                    border-radius: 133px;
                    color: #fff;
                    font-family: 'Poppins-SemiBold';
                    font-size: 0.875rem;
                    transition: all .4s ease;
                    &:hover{
                        box-shadow: 0px 0px 15px #FF8A00;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
                .span:nth-child(2){
                    padding: 14px 32px;
                    background-color: #3FA72F;
                    border-radius: 133px;
                    color: #fff;
                    font-family: 'Poppins-SemiBold';
                    font-size: 0.875rem;
                    transition: all .4s ease;
                    &:hover{
                        box-shadow: 0px 0px 15px #3FA72F;
                        cursor: pointer;
                        transition: all .4s ease;
                    }
                }
            }
        }
        .groupInput{
            margin-top: 94px;
            padding: 0px 60px;
           .title{
                font-size: 1.875rem;
                color: #000;
                font-family: "Poppins-Medium";
                padding-bottom: 60px;
           } 
           .groupAddress{
            
                .groupIndex{
                    display: flex;
                    gap: 32px;
                    input{
                        background-color: #FBFAFA;
                        border-radius: 20px;
                        padding: 38px 80px;
                        font-family: "Poppins-Regular";
                        color: #311F09;
                        font-size: 1.25rem;
                        max-width: 866px;
                        width: 100%;
                        outline: none;
                        &::placeholder{
                            color: #A0978C;
                            font-size: 1.25rem;
                            font-family: "Poppins-Regular";
                        }
                    }
                    span{
                        font-size: 1.25rem;
                        font-family: "Poppins-Regular";
                        background-color: #749FE0;
                        color: #fff;
                        border-radius: 20px;
                        padding: 38px 80px;
                        &:hover{
                            box-shadow: 0px 0px 15px #749FE0;
                            cursor: pointer;
                            transition: all .4s ease;
                        }
                    }
                }
           }
        }
    }
}
